<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <% include ../partials/header.ejs %>
        <div class="container">
            <% if (error) { %>
                <div class="alert alert-danger my-3">
                    Invalid Credentials Entered. Please Try again.
                </div>
            <% } %>
            <form action="/auth/login" method="post">
                <div class="form-row my-3">
                    <div class="col-md-6">
                        <label for="form-username">Username:</label>
                        <input type="text" class="form-control" name="username" id="form-username" required="required" />
                    </div>
                    <div class="col-md-6">
                        <label for="form-password1">Password:</label>
                        <input type="password" class="form-control" name="password" id="form-password1" value="" required="required" />
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Login" />
            </form>
        </div>
        <% include ../partials/footer.ejs %>
    </body>
</html>
