html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 80px;
}
footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 55px;
    line-height: 55px;
    position: absolute;
    width: 100%;
}
.navbar-brand {
    font-family: 'Special Elite', cursive;
}
.main-jumbotron {
    background: url(https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2017/06/29/Pictures/_a9de93ca-5ca6-11e7-a7a5-fdf01393e65b.jpg);
    background-size: 100%;
    font-family: 'Special Elite', cursive;
}
.flex-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-list > div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
textarea {
    height: 175px;
}
h1, h2, h3, h4, h5 {
    font-family: 'Special Elite', cursive;
}
.flex-recipe {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.flex-recipe > div {
    padding: 3px;
}
.recipe-head-block {
    flex-basis: 40%;
}
.recipe-images-block {
    flex-basis: 58%;
}
.recipe-images-block > img {
    width: 100%;
}
.recipe-main-block {
    flex-basis: 48%;
}
.recipe-main-block > h4 {
}
.image-carousel-prev {
    cursor: pointer;
    left: 2%;
    position: relative;
    top: 50%;
}
.image-carousel-next {
    cursor: pointer;
    left: 90%;
    position: relative;
    top: 100%;
}
.image-carousel-prev:hover, .image-carousel-next:hover {
    color: #eee;
}
.recipe-images-block > img {
    display: none;
}
.recipe-images-block > img:first-of-type {
    display: block;
}
@media (min-width: 660px) {
    .flex-list > div {
        border: 1px solid #eee;
        flex-basis: 50%
    }
    .flex-list .card-img {
        height: 150px;
    }
}

@media (min-width: 1020px) {
    .flex-list > div {
        flex-basis: 33%;
    }
}
@media (min-width: 1250px) {
    .flex-list > div {
        flex-basis: 24%;
    }
}
