html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 80px;
}
footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 55px;
    line-height: 55px;
    position: absolute;
    width: 100%;
}
.navbar-brand {
    font-family: 'Special Elite', cursive;
}
.main-jumbotron {
    font-family: 'Special Elite', cursive;
}
.flex-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-list > div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
textarea {
    height: 175px;
}
h1, h2, h3, h4, h5 {
    font-family: 'Special Elite', cursive;
}
@media (min-width: 660px) {
    .flex-list > div {
        border: 1px solid #eee;
        flex-basis: 50%
    }
    .flex-list .card-img {
        height: 150px;
    }
}

@media (min-width: 1020px) {
    .flex-list > div {
        flex-basis: 33%;
    }
}
@media (min-width: 1250px) {
    .flex-list > div {
        flex-basis: 24%;
    }
}
