<!DOCTYPE html>
<html lang="" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <% include ../partials/header.ejs %>
        <div class="jumbotron main-jumbotron">
            <div class="text-center text-white">
                <h1>RECIPEshare</h1>
                <p class="lead">Your platform for all your recipe needs!</p>
            </div>
        </div>
        <div class="container">
            <h2>Check out our latest additions!</h5>
            <div class="flex-list">
                <% recipes.forEach((recipe) => { %>
                    <div class="card m-1">
                        <a href="/recipe/<%= recipe._id %>" class="text-decoration-none">
                            <img src="<%= recipe.images[0] %>" class="card-img" alt="<%= recipe.title %>" />
                            <div class="card-body">
                                <h5 class="card-title text-center"><%= recipe.title %></h5>
                            </div>
                        </a>
                    </div>
                    <% }) %>

            </div>
        </div>
        <% include ../partials/footer.ejs %>
    </body>
</html>
