<!DOCTYPE html>
<html lang="" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <% include ../partials/header.ejs %>
        <div class="container">
            <h1>Recipes</h1>
            <div class="flex-list">
                <% recipes.forEach((recipe) => { %>
                    <div>
                        <img src="<%= recipe.images[0] %>" class="card-img" alt="">
                        <a href="/recipe/<%= recipe._id %>"><%= recipe.title %></a>
                    </div>
                    <% }) %>

            </div>
        </div>

        <% include ../partials/footer.ejs %>
    </body>
</html>
