<!DOCTYPE html>
<html lang="" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>RECIPEshare</title>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <% include ../partials/header.ejs %>
        <div class="jumbotron main-jumbotron">
            <div class="text-center text-white">
                <h1>RECIPEshare</h1>
                <p class="lead">Your platform for all your recipe needs!</p>
            </div>
        </div>
        <div class="container">
            <h4>Check out our latest additions!</h4>
            <% include recipe-card-list.ejs %>
        </div>
        <% include ../partials/footer.ejs %>
    </body>
</html>
