<!DOCTYPE html>
<html lang="" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <% include ../partials/header.ejs %>
        <div class="jumbotron">
            <div class="text-center">
                <h1>heading</h1>
                <p class="lead">sub heading...</p>
            </div>
        </div>
        <div class="container">
            <div class="flex-list">
                <% recipes.forEach((recipe) => { %>
                    <div class="card m-1">
                        <a href="/recipe/<%= recipe._id %>" class="text-decoration-none">
                            <img src="<%= recipe.images[0] %>" class="card-img" alt="<%= recipe.title %>" />
                            <div class="card-body">
                                <h5 class="card-title"><%= recipe.title %></h5>
                                <p class="card-text">Description here....</p>
                            </div>
                        </a>
                    </div>
                    <% }) %>

            </div>
        </div>

        <% include ../partials/footer.ejs %>
    </body>
</html>
