<div class="flex-list">
    <% recipes.forEach((recipe) => { %>
        <div class="card m-1">
            <a href="/recipe/<%= recipe._id %>" class="text-decoration-none">
                <img src="<%= recipe.images[0] %>" class="card-img" alt="<%= recipe.title %>" />
                <div class="card-body">
                    <h5 class="card-title text-center text-uppercase"><%= recipe.title %></h5>
                </div>
            </a>
        </div>
        <% }) %>
</div>
