<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <% include ../partials/header.ejs %>
        <div class="container mt-3">
        <h4>Search results for <span class="font-italic"><%= searchQuery %></span>:</h4>
        <% if (recipes.length > 0) { %>
            <% include recipe-card-list.ejs %>
        <% } else { %>
            <span>No Result Found. Please try again.</span>
        <% } %>
        </div>
        <% include ../partials/footer.ejs %>
    </body>
</html>
